.cardContainer{
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: inherit;
  width: 180px;
  height: 150px;
  border-radius: 10px;
  border: 1px solid;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  overflow: hidden;
  margin: 10px;
  transition: 0.5s ease-in-out all;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
    &:visited{
      color: red;
    }
    .imgContainer{
      background-color: rgb(244, 244, 244); 
      width: 100%;
      height: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        align-self: center;
        width: 80px;
        transition: transform .4s ease;
        &:hover{
          transform: scale(1.25);
        }
      }
      .loadingImg{
        width: 12rem;
        margin-top: 20px;
        display: block;
      }
    }
    .textContainer{
      height: 30%;
      width: 100%;
      background-color: white;
      h3{
        color: black;
        margin: 0;
        padding: 0;
      }
      h3::first-letter{
        text-transform: uppercase;
      }
      p{
        font-size: 1rem;
        font-weight: 300;
        margin: 0;
        color: lightgray;
      }
    }
}