<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <title>Pure server-side rendered React with hot module reloading</title>
        <% if (typeof stylesheetFilename != "undefined") { %>
        <link href="<%- stylesheetFilename %>" rel="stylesheet" />
        <% } %>
    </head>
    <body>
        <div id="root"><%- content %></div>
    </body>
     <script>
          // WARNING: See the following for security issues around embedding JSON in HTML:
          // https://redux.js.org/recipes/server-rendering/#security-considerations
          window.__PRELOADED_STATE__ = JSON.stringify("<%- preloadedState %>").replace(
            /</g,
            '\\u003c'
          )
        </script>
    <script src="<%- clientBundleFilename %>"></script>
</html>