.searchContainer{
    height: 100px;
    width: 100%;
    input{
        display: block;
        padding: 10px;
        font-size: 20px;
        border: 0;
        border-radius: 5px;
        width: 40%;
        margin: auto;
        background-color: #f1f1f1;
      }
}